.home-logo {
    height: 48px;
}

#title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 500px;
}

#description {
    margin-top: 0;
    margin-bottom: 0;
}

li {
    cursor: pointer;
}

.resize {
    position: absolute;
    z-index: 20;
    width: 10vw;
    height: auto;
}

.responsive-img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
}

.minigame-card {
    width: 420px;
    height: 600px;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    vertical-align: middle;
    border-width: 3px;
    border-color: transparent;
    border-style: solid;
    box-shadow: #000;
    font-weight: bold;
    transition: 150ms;
}

.minigame-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}


.minigame-card .detail {
    height: 150px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 16px;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.minigame-card:hover {

    border-width: 3px;
    border-style: solid;
    word-wrap: break-word;
    transform: scale(1.05);
    transition: 150ms;
    /*box-shadow: rgba(0, 0, 0, 0.2) 5px 5px,rgba(0, 0, 0, 0.3) 10px 10px, rgba(0, 0, 0, 0.2) 15px 15px, rgba(0, 0, 0, 0.1) 20px 20px, rgba(0, 0, 0, 0.05) 25px 25px;*/
}

/*.minigame-card:hover img {
    box-shadow: rgb(255, 255, 255)5px 25px 20px -20px;
    transition: 150ms;
}*/


.name {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}

#list {
    margin-top: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.type {
    display: flex;
    position: relative;
    color: rgb(0, 0, 0);
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;

}

/*.type:after {
    content: "";
    position: absolute;
    background-color: #ffae00;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
    transform: scale(0, 1);
}*/

/*.type:after:hover {
    width: 100%;
}*/

.link-button {
    background: #000;
    color: #fff;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: #fff;
}

.minigame-bg {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-size: cover;
    background-image: url("https://resource.blockmanmobile.com/web/BMGOfficialWebsite/News/BMG-social-mmoKV.jpg");
    filter: blur(2px);
    background-position: center;
    background-repeat: no-repeat;
}

.setflex {
    width: 100%;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
}

/*.snow,.snow:after,.snow::before{
    content: "";
    position: absolute;
    top: -65px;
    left:0;
    right: 0;
    bottom: 0;
    background-image: 
    radial-gradient(4px 4px at 100px 50px,fff,transparent)
    radial-gradient(6px 6px at 200px 150px,fff,transparent)
    radial-gradient(3px 3px at 300px 250px,fff,transparent)
    radial-gradient(4px 4px at 400px 350px,fff,transparent)
    radial-gradient(6px 6px at 500px 100px,fff,transparent)
    radial-gradient(3px 3px at 50px 200px,fff,transparent)
    radial-gradient(4px 4px at 150px 30px,fff,transparent)
    radial-gradient(6px 4px at 250px 450px,fff,transparent)
    radial-gradient(3px 4px at 350px 500px,fff,transparent);
    background-size:650px 650px;
    animation: snowAnim 3s linear;
    animation-iteration-count:infinite ;
}
.snow:after{
    margin-left: -250px ;
    opacity: 0.5;
    filter:blur(2px);
    animation-direction:reverse ;
    animation-duration: 6s;
}
.snow::before{
    margin-left: -350px;
    opacity: 0.7;
    filter: blur(1px);
    animation-duration: 9s;

}
@keyframes snowAnim{
    from{transform: translateY(0);}
    to{transform: translateY(650px);}
}*/
.minigame-content {
    margin: auto;
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.minigame-content h2 {
    height: 60px;
    margin: 20px;
    font-size: 50px;
    text-align: center;
}

.minigame-txt {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 20px;
    width: 400px;
    border-radius: 20px;
    
}

/*.minigame-txt::after{
    margin-top:30px;
    content: "";                                          
    width: 100%;                                                                                                                                                                            
    height: 5px;
    background-color: #000000;
}*/

h1 {
    background: linear-gradient(90deg, #ff0000, #ffff00, #ff00f3, #0033ff, #ff00c4, #ff0000);
    background-size: 400%;
    font-size: 70px;
    text-shadow: 3px 3px 0px rgb(255, 255, 255);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    letter-spacing: 5px;
    font-weight: 600;
    height: 100%;
    padding: 50px;
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        background-position: 0%;
    }

    100% {
        background-position: 400%;
    }
}


.txt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

.minigame-head {
    position: relative;
    display: flex;
    justify-content: center;
    background: url(https://media.discordapp.net/attachments/576723256757977100/1036671431968297040/4ff623e558abf4ea.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 300px;
    margin-top: -50px;
    background-position: center;
    background-repeat: no-repeat;
}

.minigame-head img {
    display: flex;
    width: 15vw;
    position: absolute;
    justify-content: left;
    left: 400px;
    top: 60px;
    right: 0vw;

}

.updown-animation {
    animation-name: infinite-updown;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    transition: all .3s;
}

@keyframes infinite-updown {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 1500px) {
    .minigame-head img {
        transform: translateX(300px);
    }
}

@media only screen and (max-width: 1300px) {
    .minigame-head img {
        display: none;
    }
}




.card-container {
    margin: 50px auto;
    max-width: 1280px;
    display: grid;
    gap: 2em;
    grid-template-columns: repeat(var(--cols), 1fr);
}

.card-container .mn-card {
    user-select: none;
    list-style-type: none;
    padding: 2.5em 3em 2em;
    width: 420px;
    border-radius: 8px;
    border: 2px solid #32303c;
    color: #323029;
    cursor: pointer;
    overflow: hidden;
    transform: translate(5px, 5px);
    transition: 0.25s;
    background: #fff1d9;
}

.card-container .mn-card:hover {
    transform: translate(0px, 0px);
    border: 2px solid black;
    box-shadow: 5px 5px black;
}

.card-container .mn-card>.header {
    display: block;
    font-size: 10px;
}

.card-container .mn-card>.header>.heading {
    font-size: 35px !important;
}

.card-container .mn-card>.header {
    overflow: hidden;
    transition: 0.25s;
    position: relative;
    top: 0;
}

.card-container .mn-card>.header.hide {
    opacity: 0;
    top: -100%;
}

.card-container .mn-card>.header>.image {
    overflow: hidden;
}

.card-container .mn-card>.header>.image>img {
    border-radius: 8px;
    width: 100%;
}

.card-container .mn-card>.header>.genres {
    margin: 15px 0;
}

.card-container .mn-card>.description>h3 {
    font-size: 1.5em;
}

.card-container .mn-card>.description {
    font-size: 16px;
    transition: 0.25s;
    position: relative;
    top: 0;
}

.card-container .mn-card>.description.full>.inner {
    -webkit-line-clamp: unset;
}

.card-container .mn-card>.description>.inner {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}

.genres {
    margin-bottom: auto;
}

.genres .tag {
    font-size: 14px;
    display: inline-block;
    color: #FAF2E5;
    background-color: #615B4B;
    border-radius: 4px;
    padding: 2px 12px;
    margin: 4px;
    margin-left: 0;
}

@media screen and (min-width: 460px) {
    .card-container {
        --cols: 1
    }
}

@media screen and (min-width: 960px) {
    .card-container {
        --cols: 2
    }
}

@media screen and (min-width: 1440px) {
    .card-container {
        --cols: 3
    }
}

@media screen and (max-width: 512px) {
    .card-container {
        padding: 5vw 12px;
    }

    .card-container>.mn-card {
        width: 100%;
        transform: translate(0px, 0px);
    }
}