body{
    overflow-x: hidden;
    overflow-y: hidden;
}
img{
    height:30vh;
    cursor: pointer;
}
.texthead{
    font-size: 10vh;
    width: auto;
    height: auto;
    color: black;
    position: absolute;
    transform: translateX(100%);
    top: 20vh;
    right: 0vw;
    font-weight: 600;
    animation-name: text;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
.img-crop{
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.blueguy{
    width:60vw;
    height: auto;
    position:absolute;
    bottom:-20vh;
    left:20vw;
    z-index: 40;
    
}
.piggyhome{
    background-color: rgb(181, 78, 190);
    height: auto;
    min-height: 13vh;
    width: 9vw;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:50%;
    right: 50%;
}
.pig{
    position: relative;
    z-index: 30;
    left:2vw;
    width: 5vw;
    height: 10vh;
    cursor: pointer;
    
}
.rotate{
    position: absolute;
    top:30vh;
    left:10vw;
    z-index: 1;
    animation-name: rotate ;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
.bunny{
    position: absolute;
    z-index: 30;
    width: 28vw;
    height: auto;
}
.superstar{
    transform: translateY(0%) rotate(30deg);
    position: absolute;
    right:3vw;
    top: 20vh;
    animation-name: updown;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
}
.cyberman{
    animation-name: cyber-fly;
}
.cyberguy{
    position: absolute;
    left: 15vw;
    animation-name: updowncyber;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    z-index: 10;
    width: 35vw;
    height: auto;
}
.skateman{
    z-index: 12;
    width: 30vw;
    height: auto;
    position: absolute;
    bottom: 4vw;
    animation-name: slide ;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
.flash{
    transform: translateX(80vw) translateY(0vw);
    position:absolute;
    top: 25vh;
    animation-name: veryfast;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
.ninja{
    position: absolute;
    bottom: 5vh;
    right: 2vw;
    animation-name: ninja;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-delay: 3s;
}
.flash2{
    transform: translateX(80vw) translateY(0vw);
    position:absolute;
    animation-name: veryfast;
    animation-duration:4s;
    animation-iteration-count: infinite;
    animation-delay: 3.5s;
}
.star-rotate{
    animation-name: star-rotate;
    top:30vh;
    left:10vw;
    z-index: 12;
    animation-name: rotate ;
    animation-duration: 60s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    cursor: pointer;
}
.cyberman{
    position:absolute;
    bottom:10vh;
    animation-name: cyberfly ;
    animation-duration: 20s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}
@keyframes text{
    0%{
        transform: translateX(100%)
    }

    100%{
        transform: translateX(-350%)
    }
}
@keyframes cyberfly{
    0%{
        transform: translateY(0%) translateX(200%)
    }
    25%{
        transform: translateY(-100%) translateX(-100%);
    }
    50%{
        transform: translateY(150%) translateX(-300%);
    }
    100%{
        transform: translateY(100%) translateX(200%)
    }
}
@keyframes rotate{
    0%{
        transform: translateY(-300%) translateX(-300%) rotate(0deg);
    }
    50%{
        transform: translateY(300%) translateX(500%) rotate(-360deg);
    }
    100%{
        transform: translateY(-300%) translateX(-300%) rotate(0deg) scale(0.3);
    }

}
@keyframes star-rotate{
    0%{
        transform: translateY(-200%) translateX(-300%) rotate(0deg);
    }
    50%{
        transform: translateY(300%) translateX(200%) rotate(-360deg);
    }
    100%{
        transform: translateY(-300%) translateX(-300%) rotate(0deg);
    }

}

@keyframes ninja{
    0%{
        transform: translateY(0%) rotate(0deg);
        transition-timing-function: ease-out;
        
    }

    50%{
        transform: translateX(-80%) rotate(5deg);
        transition-timing-function: ease-out;

    }
    100%{
        transform: translateX(0%) rotate(0deg);
        
    }

}


@keyframes updown{
    0%{
        transform: translateY(0%) rotate(30deg);
        transition-timing-function: ease-out;
        
    }

    50%{
        transform: translateY(30%) rotate(20deg);
        transition-timing-function: ease-out;

    }
    100%{
        transform: translateY(0%) rotate(30deg);
        
    }

}
@keyframes updowncyber{
    0%{
        transform: translateY(0%) rotate(-30deg);
        transition-timing-function: ease-out;
        
    }

    50%{
        transform: translateY(30%) rotate(-20deg);
        transition-timing-function: ease-out;

    }
    100%{
        transform: translateY(0%) rotate(-30deg);
        
    }

}
@keyframes veryfast{
    0%{
        transform: translateX(80vw) translateY(0vw)
    }
    25%{
        transform: translateX(-160vw) translateY(-10vw);
    }
    50%{
        transform: translateX(-160vw) translateY(-20vw);
    }
    100%{
        transform: translateX(80vw) translateY(20vw) rotate(360deg);
    }
}

@keyframes slide{
    0%{
        transform: translateX(-80vw);
        animation-timing-function: ease-out;

    }
    5%{
        rotate: 45deg;
    }

    100%{
        transform: translateX(100vw);
    }

}
